.error {
	color:red;
}

.userinfo {
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text
}

#title_banner {
	position: relative;
	width: 100%;
	height: 10%;
}

#benner {
	width: 100%;
	z-index: -1;
	opacity: 0.3;
}

#title_text {
	position: absolute;
	left: 0;
	top: 25%;
	width: 100%;
	text-align: center;
	font-size: 50px;
	color: black;
}

#menu {
	list-style-type: none;
	top: auto;
	margin: 0;
	padding: 0;
	width: 10%;
	background-color: #f1f1f1;
	height: 100%;
	position: fixed;
	overflow: auto;
}

#content {
	position: fixed;
	left: 11%;
}

li a {
	display: block;
	color: #000;
	padding: 8px 8px;
	text-decoration: none;
}

li {
	text-align: center;
}

li:last-child {
	border-bottom: none;
}

.active {
	background-color: #4CAF50;
	color: white;
}

li a:hover {
	background-color: #555;
	color: white;
}

#HTML {
	position: fixed;
	bottom: 0px;
	float: left;
}

#CSS {
	position: fixed;
	left: 100px;
	bottom: 0px;
}