#doggy {
	z-index: -1;
	position: fixed;
	left: 0%;
	bottom: 0%;
	width: 100%;
}

#viimane {
	position: fixed;
	left: 20%;
	top: 20%;
	width: 150px;
	height: 150px;
}

.ring {
	height: 100%;
	width: 100%;
	position: absolute;
	border-radius: 50%;
	border: 2px solid;
}

.ring:nth-child(1) {
	background-color: white;
	height: 100%;
	width: 100%;
}

.ring:nth-child(2) {
	background-color: red;
	top: 10%;
	left: 10%;
	height: 80%;
	width: 80%;
}

.ring:nth-child(3) {
	background-color: white;
	top: 20%;
	left: 20%;
	height: 60%;
	width: 60%;
}

.ring:nth-child(4) {
	background-color: red;
	top: 30%;
	left: 30%;
	height: 40%;
	width: 40%;
}

.ring:nth-child(5) {
	background-color: white;
	top: 40%;
	left: 40%;
	height: 20%;
	width: 20%;
}

.ring:nth-child(6) {
	background-color: red;
	top: 47.5%;
	left: 47.5%;
	height: 5%;
	width: 5%;
}