body {
	background-image: url("taevas.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.must {
	background-color: white;
}

#Pealkiri {
	color: rgb(0,100,0);
}

a.loend {
	font-size: 16px;
	text-decoration-line: none;
	color: red;
}

a.loend:hover {
	color: black;
	font-size: 14px;
}

img.pilt {
	border: 10px solid purple;
}