body {
	background-image: url("taevas.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.must {
	background-color: white;
}

#Pealkiri {
	color: rgb(0,100,0);
}

a.loend {
	font-size: 16px;
	text-decoration: none;
	color: red;
}

a.loend: hover {
	font-family: "Serif", Times New Roman;
	color: yellow;
}

img.pilt {
	border: 10px solid purple;
}