<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="Model/Style.css"/>
	<script src="Model/silmad.js"></script>
	<script src="Model/DeathClock.js"></script>
	<script>
	    var TheEnd = new Date('05/29/2017 11:59 PM');
		var timer = setInterval(function(){showRemaining(TheEnd, "countdown", timer);}, 1000);
	</script> 
	<title>Koduleht</title>
</head>
<body>
	
<div id="title_banner"> 
	<img id="benner" src="http://gdurl.com/7Itq" alt="bites" style="width:100%; height:100px;">
	<div id="title_text">BEAD BYTE SHOP</div>
</div>

<ul id="menu">
    <li><a href="?">Avaleht</a></li>
	<li><a href="?page=eyes">Eyes</a></li>
	<li><a href="?page=message">Teadete tahvel</a></li>
</ul>

<div id="content">