<ul id="menu">
	<li><a id="marklaud" href="HTML/bullseye.html">Märklaua harjutus</a> </li>
	<li><a href="HTML/abakus.html">Abakuse harjutus</a></li>
	<li><a href="HTML/jquery.html">jQuery harjutus</a></li>
	<li><a href="PHP/phpyl1.php">PHP ülesanne 1</a></li>
	<li><a href="PHP/phpyl2.php">PHP ülesanne 2</a></li>
	<li><a href="PHP/phpyl3.php">PHP ülesanne 3</a></li>
	<li><a href="PHP/too8-1.php">Tekstitöötluse ülesanne</a></li>
	<li><a href="PHP/too8-2.php">Serveri kaustatade ülesanne</a></li>
</ul>